[submodule "rocket-chip"]
	path = rocket-chip
	url = git@github.com:Wolf-Tungsten/rocket-chip.git
[submodule "riscv-isa-sim"]
	path = riscv-isa-sim
	url = https://github.com/OpenXiangShan/riscv-isa-sim.git
[submodule "riscv-arch-test"]
	path = riscv-arch-test
	url = https://github.com/OpenXiangShan/riscv-arch-test.git
[submodule "gsim"]
	path = gsim
	url = https://github.com/Wolf-Tungsten/gsim
[submodule "XiangShan"]
	path = XiangShan
	url = https://github.com/OpenXiangShan/XiangShan
[submodule "zyj-gsim"]
	path = zyj-gsim
	url = git@github.com:YJMSTR/simulator.git
